<h1>Listing firms</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Oib</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @firms.each do |firm| %>
  <tr>
    <td><%= firm.name %></td>
    <td><%= firm.address %></td>
    <td><%= firm.oib %></td>
    <td><%= link_to 'Show', firm %></td>
    <td><%= link_to 'Edit', edit_firm_path(firm) %></td>
    <td><%= link_to 'Destroy', firm, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Firm', new_firm_path %>
