<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @course.title %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>

<p>
  <b>Price:</b>
  <%= @course.price %>
</p>

<p>
  <b>Seats:</b>
  <%= @course.seats %>
</p>

<p>
  <b>Starts at:</b>
  <%= @course.starts_at %>
</p>

<p>
  <b>Ends at:</b>
  <%= @course.ends_at %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
